@page "{id:int?}"
@model MultipleAppSetup.Pages.Library.Book.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.Book.Title</h2>
<form method="post">
    <input type="hidden" asp-for="Book.Id" />
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label asp-for="Book.Title"></label>
            <input class="form-control" asp-for="Book.Title" />
            <span class="text-danger" asp-validation-for="Book.Title"></span>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Book.PersonId"></label>
            <select class="form-control" asp-for="Book.PersonId" asp-items="@Model.Authors">
                <option value="">Pick a Author</option>
            </select>
            <span class="text-danger" asp-validation-for="Book.PersonId"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

